body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f4f6f9;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

button {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.85;
}
